.header {
    position: relative;
    margin: 0 auto;
    background: #87a3b1;
}

.imgLogo {
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 25px;
}

.title {
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 22px;
    font-weight: bold;
}
body {
    min-height: 100%;
    background: #5F90A8;
    font-family: "Montserrat";
    font-weight: bold;
}

.encrypter {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    
}

.encrypter li {
    display: inline-block;
    padding: 10px;
}

.textArea { 
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    resize: none;
    font-family: "Montserrat";
    font-size: 18px;
    color: #0A3871;
    font-weight: bold;
}

.textArea::placeholder{
    color: #0A3871;
    font-weight: bold;
}    

.buttonsField {
    margin: auto;
    margin-bottom: 5px;
}

.buttons {
    display: inline-block;
    text-align: center;
    width: 170px;
    height: 30px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    margin: 2px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
}
.buttons:hover {
    box-shadow: 5px 3px 5px #ccc;
}

#myButton3 {
    margin-left: 250px;
    margin-right: 100px;
}

.aviso {
    text-align: center;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    color: #CCCCCC;
    font-weight: normal;
}

footer {
    background: #87a3b1;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0A3871;
}